<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>babbage</title>
</head>
<body>
    <h1>DIGITAL HOUSE- HEROES</h1>
 <header>  
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">barners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
</nav>
 </header>
 <main>

<article>
    <h2>charles babbage</h2>
    <img src="/images/CharlesBabbage.jpg" alt="foto de CharlesBabbage">
    <p> fue un matemático y científico de la computación británico.Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), <b>la analítica para ejecutar programas de tabulación o computación</b>; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como <b>"El Padre de la computación"</b>.</p>
    
</article>
 </main>
</body>
</html>