<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>barners-lee</title>
</head>
<body>
    <h1>DIGITAL HOUSE- HEROES</h1>
 <header>  
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">barners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
</nav>
 </header>
 <main>

<article>
    <h2>berners-lee</h2>
    <img src="/images/berners-lee.png" alt="foto de berners-lee">
    <p>Timothy "Tim" John Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. <b>Estableció la primera comunicación entre un cliente y un servidor </b> usando el protocolo HTTP en diciembre de 1990</p>
    
</article>
 </main>
</body>
</html>