<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hamilton</title>
</head>
<body>
    <h1>DIGITAL HOUSE- HEROES</h1>
    <header>  
       <nav>
           <ul>
               <li><a href="/">home</a></li>
               <li><a href="/babbage">babbage</a></li>
               <li><a href="/berners-lee">barners-lee</a></li>
               <li><a href="/clarke">clarke</a></li>
               <li><a href="/hamilton">hamilton</a></li>
               <li><a href="/hopper">hopper</a></li>
               <li><a href="/lovelace">lovelace</a></li>
               <li><a href="/turing">turing</a></li>
           </ul>
   </nav>
    </header>
    <main>
   
   <article>
       <h2>Margaret Hamilton</h2>
       <img src="/images/Margaret_Hamilton_199.png" alt="foto de margaret hamilton">
     <p>Margaret Hamilton es una científica computacional, matemática e ingeniera de Software. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo</p> 
   </article>
    </main>
</body>
</html>