<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hopper</title>
</head>
<body>
    <h1>DIGITAL HOUSE- HEROES</h1>
 <header>  
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">barners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
</nav>
 </header>
 <main>

<article>
    <h2>Grace Hopper</h2>
    <img src="/images/graceHopper.png" alt="foto de grace hopper">
    <p>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I.</p>
</article>
 </main>
</body>
</html>