<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovelace</title>
</head>
<body>
    <h1>DIGITAL HOUSE- HEROES</h1>
 <header>  
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">barners-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
        </ul>
</nav>
 </header>
 <main>

<article>
    <h2>Ada Lovelace</h2>
    <img src="/images/AdaLovelace.png" alt="foto de ada lovelace">
    <p>Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, la denominada máquina analítica.</p>
</article>
 </main>
</body>
</html>