<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DIGITAL HOUSE- HEROES</h1>
    <header>  
       <nav>
           <ul>
               <li><a href="/">home</a></li>
               <li><a href="/babbage">babbage</a></li>
               <li><a href="/berners-lee">barners-lee</a></li>
               <li><a href="/clarke">clarke</a></li>
               <li><a href="/hamilton">hamilton</a></li>
               <li><a href="/hopper">hopper</a></li>
               <li><a href="/lovelace">lovelace</a></li>
               <li><a href="/turing">turing</a></li>
           </ul>
   </nav>
    </header>
    <main>
   
   <article>
       <h2>Alan Turing</h2>
       <img src="/images/Alan_Turing.png" alt="foto de alan turing">
      <p>Alan Mathison Turing (Paddington, Londres; 23 de junio de 1912-Wilmslow, Cheshire; 7 de junio de 1954) fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.1​2​3​4​5​

        Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).
        
        </p>
   </article>
    </main>
</body>
</html>